// text-color
$color-black: #181818;
$color-purple: #b61984;
$color-white: #fff;

//bg:
$color-bg-gray: #dcd1f3;

//text-size
$text-sm: 13px;
$text-title: 1.1rem;
$text-big-title: 3.8rem;
$text-p: .9rem;
$text-md: 20px;
$text-lg: 36px;
$text-xl: 42px;

//font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;
